<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ConnectString" connectionString="Data Source=192.163.1.245\sql2005;Initial Catalog=iCatwebData;Persist Security Info=True;User ID=sa;Password=bhsoftsa;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="CommonLibACC" value="BaseSqlLibrary"/>
    <add key="CommonLibBusi" value="BaseBusiness"/>
    <add key="CommonLibData" value="BaseDataLibrary"/>
    <add key="CurrentLibAcc" value="WebSqlLibrary"/>
    <add key="CurrentLibBusi" value="WebBusiness"/>
    <add key="CurrentLibData" value="WebDataLibrary"/>
    <add key="IsReg" value="true"/>
    <add key="KeyUser" value="bhlfy"/>
    <add key="AppKey" value="M2YcQkF97lST3cRE0GUFZmxJVXkMsQnqSRuVTHWj860="/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
